# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Backend env files
backend/.env

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/dist/

# Build artifacts
dist/
build/

# Data files
data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep